.recipe-list-header {
  text-align: center;
  width: 90%;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0  auto;
  background-color: rgba(235, 235, 235, 0.15);
  backdrop-filter: blur(7px);
  box-shadow: 5px 5px 10px rgb(48, 48, 48);
}

.recipe-list-header h1 {
  font-size: 5rem;
  color: rgb(23, 49, 133);
  margin: 2rem 0;
}

.recipe-list-header h3 {
  color: rgb(23, 49, 133);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.recipe-list-body {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(235, 235, 235, 0.15);
  backdrop-filter: blur(7px);
  box-shadow: 5px 5px 10px rgb(48, 48, 48);
}
